body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

#featureDetails .description {
    font-size: larger;
}

.feature-folder-header {
    font-size: small;
    font-weight: bolder;
    margin-top: 5px;
}

#scenarios, .steps {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scenario {
    background-color: #F5F5F5;
    border: 1px solid #D0D0D0;
    margin: 6px 0px 28px 0px;
    padding: 6px;
}

li.step {
    list-style-type: none;
    margin: 6px 0px 6px 0px;
    padding: 0;
}

.keyword {
    font-weight: bold;
    color: #0000FF;
}

.steps table {
    margin-bottom: 0px;
}

.steps table td {
    color: #B21515;
}

.steps table th {
    font-style: italic;
}

#SearchButton {
    margin-top: 0;
}

.nav .nav-tabs .nav-stacked .active {
    background-color: #0088CC;
    color: white;
}

#FolderNav {
    border-right: 1px lightgrey solid;
}

#FolderNav a:hover {
    background-color: #EEEEEE;
    color: #1A668C;
    text-decoration: none;
}

.feature {
    padding: 5px;
}

.feature:hover {
    background-color: #EEEEEE;
    cursor: pointer;
    color: #1A668C;
}

.canHighlight {
}

.highlight {
    background-color: yellow;
}

.inconclusive, .failed, .passed {
    font-size: 300%;
}

.pre {
    border-color: #fff;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: pre-wrap;
    font-style: italic;
}

.selected {
    text-decoration: underline;
}

#Content {
    margin: 0px 0px 0px 10px;
}

#HideIt {
    float: right;
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

#ShowIt {
    float: left;
    position: absolute;
    left: 0px;
    top: 60px;
    cursor: pointer;
}

#SutInfo {
    margin-top: 30px;
    border-top: 1px lightgrey solid;
}

.clickable {
    cursor: pointer;
}

.table {
    width: 0;
    max-width: 90%;
}

.table-condensed th,
.table-condensed td {
    padding: 5px 8px;
}